[Unit]
Description=__APP__-app
After=network.target

[Service]
Type=simple
User=__APP__
WorkingDirectory=__FINALPATH__
Environment="__LD_PRELOAD__"
Environment="__YNH_RUBY_LOAD_PATH__"
Environment="RAILS_ENV=production"
#Environment="DEFAULT_HOST=__DOMAIN__"
ExecStartPre=-/bin/bash -c 'rm -f __FINAL_PATH__/tmp/pids/server.pid'
ExecStart=__FINALPATH__/bin/bundle exec rails s puma -p __PORT__ -b 'ssl://0.0.0.0:__PORT__?key=/etc/yunohost/certs/__DOMAIN__/key.pem&cert=/etc/yunohost/certs/__DOMAIN__/crt.pem'
ExecReload=/bin/kill -SIGUSR1 $MAINPID
TimeoutSec=15
Restart=always
StandardError=syslog

[Install]
WantedBy=multi-user.target
